.admin-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 250px;
    background-color: #D8E9EF;
    width: 250px;
    padding-top: 30px;
    height: 100vh;
    border: #000 3px solid;
}

.admin-logo {
    width: 230px;
}

.admin-logo img {
    width: 100%;
    height: auto;
}

.options{
    margin-top: 40px;
    width: 100%;
}

.option{
    padding-left: 40px;
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.option:hover{
    background-color: #714DF4;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    border: #000 solid 2px;
}

.right{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(0,0,0,0.8);
    border: #000 3px solid;
    margin-bottom: 30px;
}

.admin-name{
    color: #fff;
}

.logout-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00D39C;
    border: solid 3px #00D39C;
    border-radius: 10px;
    height: 40px;
    width: 90px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logout-btn:hover{
    background-color: #fff;
    border: solid 3px #00D39C;
    color: #00D39C;
}

.display-users{
    margin-left: 40px;
    margin-right: 40px
}