.landing-body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    margin-top: 10px;
    margin-left: 50px;
}

.logo{
    width: 250px;
}

.logo img{
    width: 100%;
    height: auto;
}

.pages{
    display: flex;
}

.navbar-logout{
    display: flex;
    justify-content: center;
    align-items: center;

}

.pages div h4{
    margin-right: 20px;
    font-size: 0.9rem;
    color: rgba(0,0,0,0.8);
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: border-bottom-color 0.3s ease-in-out;
}

.pages div h4:hover{
    box-sizing: border-box;
    border-bottom: 3px solid #00D39C;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-logo {
    width: 100%;
}

.sidebar-logo img {
    width: 100%;
    height: auto;
}

.user-infos{
    display: flex;
    align-items: center;
}

.user-infos h2 {
    width: 100%;
    text-align: center;
}

.sidebar-buttons{
    margin-top: 0.3rem;
}

.sidebar-logout{
    margin-top: 2rem;
}

.sidebar-pages{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-pages h4{
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 0.8rem;
    cursor: pointer;
}

.sidebar-pages h4:hover{
    color: #714DF4;
}

.top-page{
    border-top: rgba(0, 0, 0, 0.6) solid 0.5px;
}

.middle-page{
    border-top: rgba(0, 0, 0, 0.6) solid 0.5px;
    border-bottom: rgba(0, 0, 0, 0.6) solid 0.5px;
}

.bottom-page{
    border-bottom: rgba(0, 0, 0, 0.6) solid 0.5px;
}

.logout{
    width: 100%;
}

.landing{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-right: 75px;
}

.landing_picture{
    width: 80%;
    height: auto;
}

.wlc_picture{
    width: 100%;
    height: auto;
}

.marketing_text{
    position: absolute;
    width: 220px;
    right: 0;
}

.marketing_text p {
    text-align: center;
    font-weight: 500;
    width: 100%;
}


.upload-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f0f5f8;
    background-image: url(../../assets/landing-background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.prediction {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

.prediction h1 {
    color: rgba(0,0,0,0.7);
}

.landing-wrapper {
    max-width: 530px;
    width: 100%;
    background-color: #fff;
    margin-top: 3rem;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    border-radius: 20px;
    z-index: 1;
}


.landing-wrapper h3{
    text-align: center;
    color: rgba(0,0,0,0.8);
}


.landing-wrapper .form {
    width: 100%;
    margin-top: 20px;
}

.landing-wrapper .form .inputfield {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.landing-wrapper .form .inputfield label {
    width: 200px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 700;
    color: rgba(0,0,0,0.6);
}

.landing-wrapper .form .inputfield .register_input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: #D8E9EF solid 2px;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.from-to{
    font-weight: 100;
    font-size: 0.1rem;
} 


.use_it{
    background-color: #D8E9EF;
    padding-top: 50px;
}

.use_it div h1{
    color: rgba(0, 0, 0, 0.9);
}

.use_it_steps{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0,0.8);
}
.use_it_step{
    width: 25%;
    height: auto;
    margin: 5%;
}

.use_it_step img{
    width: 100%;
    height: auto;
}

.expectation {
    background-color: #D8E9EF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 80px;
}

.expectation_header h1{
    color: rgba(0, 0, 0, 0.9);
}

.uploaded_codes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    width: 100%;
}
.form_upload{
    width: 30%;
}

.form_upload img{
    width: 100%;
}

.right_arrow{
    width: 5%;
}

.right_arrow img{
    width: 100%;
}
.form_result{
    width: 30%;
}

.form_result img{
    width: 100%;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.upper_footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-btn{
    height: 50px;
    margin-top: 20px;
    margin-right: 30px;
}

.footer_logo{
    margin-top: 20px;
    margin-left: 30px;
}

.bolder-icon .pi {
    font-weight: 900;
}




/* @media only screen and (max-width: 720px) {
    .navbar{
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 0px;
    }

    .signin_button{
        width: 200px;
    }
    .btn{
        width: 30%;
        height: 30px;
    }
    .logo{
        width: 150px;
    }

    .marketing_text {
        width: 25%;
        margin-left: -120px;
    }

} */