.landing-body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 75px;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: -30px;
}

.logo{
    width: 30%;
}

.logo img{
    width: 100%;
    height: auto;
}


.sidebar-logo {
    width: 90%;
}

.sidebar-logo img {
    width: 100%;
    height: auto;
}

.user-infos{
    margin-top: 30px;
}

.user-infos p {
    text-align: justify;
}

.logout{
    width: 100%;
}

.sidebar-buttons{
    margin-top: 70px;
}

.sidebar-logout{
    margin-top: 10px;
}

.landing{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-right: 75px;
}

.landing_picture{
    width: 80%;
    height: auto;
}

.wlc_picture{
    width: 100%;
    height: auto;
}

.marketing_text{
    position: absolute;
    width: 170px;
    right: 0;
}

.marketing_text p {
    text-align: end;
    font-weight: bold;
    width: 100%;
}

/* .upload{
    display: flex;
    justify-content: center;
    background-color: #D8E9EF;
}

.upload .card{
    
    z-index: 1;
} */

.upload-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #D8E9EF;
    height: 100vh;
}


.landing-wrapper {
    max-width: 530px;
    width: 100%;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    margin: auto;
    margin-top: -30px;
    z-index: 1;
}


.landing-wrapper .form {
    width: 100%;
    margin-top: 20px;
}

.landing-wrapper .form .inputfield {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.landing-wrapper .form .inputfield label {
    width: 200px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 700;
}

.landing-wrapper .form .inputfield .register_input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: #D8E9EF solid 2px;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.from-to{
    font-weight: 100;
    font-size: 0.1rem;
    /* color: #D8E9EF; */
} 


.use_it{
    background-color: #D8E9EF;
    padding-top: 50px;
}

.use_it_steps{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.use_it_step{
    width: 25%;
    height: auto;
    margin: 5%;
}

.use_it_step img{
    width: 100%;
    height: auto;
}

.expectation {
    background-color: #D8E9EF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 80px;
}

.uploaded_codes{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.upper_footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-btn{
    height: 50px;
    margin-top: 20px;
    margin-right: 30px;
}

.footer_logo{
    margin-top: 20px;
    margin-left: 30px;
}

.bolder-icon .pi {
    font-weight: 900;
}
/* @media only screen and (max-width: 720px) {
    .navbar{
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 0px;
    }

    .signin_button{
        width: 200px;
    }
    .btn{
        width: 30%;
        height: 30px;
    }
    .logo{
        width: 150px;
    }

    .marketing_text {
        width: 25%;
        margin-left: -120px;
    }

} */